---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@Umesho0415
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="6329ae3163640e284ea1f6fdcc773398",
        oauth_signature="0qy9WUM%2FOvGagHurR1jPCUfX95Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1663577429", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 19 Sep 2022 08:50:30 GMT
      X-Transaction:
      - 664cb7cf3d251e55
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 664cb7cf3d251e55
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1663578330'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '899'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '137'
      X-Connection-Hash:
      - f5e1f0cc99229b8f0d88bf4e58f3154170ee5c58a2b6f3ba53256fe25ac974ac
    body:
      encoding: UTF-8
      string: '{"id":1321128806829076485,"id_str":"1321128806829076485","name":"Umesho","screen_name":"Umesho0415","location":"","profile_location":null,"description":"RUNTEQ\u5352\u696d\u751f(12\u671f)\/\u5de5\u5b66\u9662\u5352\/Twitter\u30a2\u30ab\u30a6\u30f3\u30c8\u306e\u5229\u7528\u72b6\u6cc1\u3092\ud83d\udc09\u304c\u8a3a\u65ad\u3057\u3066\u304f\u308c\u308b\u30a2\u30d7\u30ea\u3092\u4f5c\u308a\u307e\u3057\u305f\u2193","url":"https:\/\/t.co\/er0X4Kx2BM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/er0X4Kx2BM","expanded_url":"http:\/\/dragon-twitter-analysis.com","display_url":"dragon-twitter-analysis.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":190,"friends_count":175,"listed_count":3,"created_at":"Tue
        Oct 27 16:38:05 +0000 2020","favourites_count":541,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":363,"lang":null,"status":{"created_at":"Sun
        Sep 18 13:40:39 +0000 2022","id":1571494412873768963,"id_str":"1571494412873768963","text":"\u4eca\u56de\u306f\u30a2\u30d7\u30ea\u304c\u6b63\u5e38\u306b\u8868\u793a\u3055\u308c\u3066\u3044\u308b\u3053\u3068\u78ba\u8a8d\u3067\u304d\u305f\u306e\u3067\u30e8\u30b7","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1461357110735040512\/cZi4lSdD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1461357110735040512\/cZi4lSdD_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1321128806829076485\/1618494582","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[],"suspended":false,"needs_phone_verification":false}'
  recorded_at: Mon, 19 Sep 2022 08:50:30 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=16&exclude_replies=true&include_rts=false&user_id=1321128806829076485
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="e9c34cdd69ae0023c47560632b7db72b",
        oauth_signature="9GkpwNuRyN670KbYuNvLuBdfhqQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1663577430", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 19 Sep 2022 08:50:30 GMT
      X-Transaction:
      - 155ca1f61d7bec71
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - 155ca1f61d7bec71
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1663578330'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1663659752'
      X-Rate-Limit-Remaining:
      - '899'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99993'
      X-Response-Time:
      - '269'
      X-Connection-Hash:
      - e4e4ecee3727bb8421d865c4a7e56a26451981953f00de87908704e3717d80e7
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sun Sep 18 13:40:39 +0000 2022","id":1571494412873768963,"id_str":"1571494412873768963","text":"\u4eca\u56de\u306f\u30a2\u30d7\u30ea\u304c\u6b63\u5e38\u306b\u8868\u793a\u3055\u308c\u3066\u3044\u308b\u3053\u3068\u78ba\u8a8d\u3067\u304d\u305f\u306e\u3067\u30e8\u30b7","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1321128806829076485,"id_str":"1321128806829076485","name":"Umesho","screen_name":"Umesho0415","location":"","description":"RUNTEQ\u5352\u696d\u751f(12\u671f)\/\u5de5\u5b66\u9662\u5352\/Twitter\u30a2\u30ab\u30a6\u30f3\u30c8\u306e\u5229\u7528\u72b6\u6cc1\u3092\ud83d\udc09\u304c\u8a3a\u65ad\u3057\u3066\u304f\u308c\u308b\u30a2\u30d7\u30ea\u3092\u4f5c\u308a\u307e\u3057\u305f\u2193","url":"https:\/\/t.co\/er0X4Kx2BM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/er0X4Kx2BM","expanded_url":"[...]
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJkcmFnb24tdHdpdHRlci1hbmFseXNpc0BkcmFnb24tdHdpdHRlci1hbmFseXNpcy5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vb2F1dGgyLmdvb2dsZWFwaXMuY29tL3Rva2VuIiwiZXhwIjoxNjYzNTc3NDkwLCJpYXQiOjE2NjM1NzczNzAsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jbG91ZC1sYW5ndWFnZSBodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2Nsb3VkLXBsYXRmb3JtIn0.myiWlC7dhbtWYGMstRBe7LMhdJyjFD700xREZ8uYeCGzlYHaP6__RIfklLwcwp-Oi98OTQr7Uiw-rANi8EkR5jMhVfP5N33lTI8N8i0PecrhouXVBgdtBsCCqqkdwaeJyzWHEE0yShSuyHWVKClcxMQIeA1dxyxPj5Jy9FM4_rOm0zKTbIiY-Kr_4lFJEWCWWpSt6W7s3QGtxPzUqDhj5RIR2F7V95Y5nT8DaXLRF0sogolJlv63dhkYDuny1Hy6lwGeRBzuOA8kSXl9r-jL1YDs6pBAhe5lLd4xQnqAxcmmK5uEIYsZy4BigLgNj0SNU1pfGBJ_pOZ67asU6EtHMg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0AUFJQsFh7FOaEFnAIgfCT9-e4ZUzaOIg1zDIfS52hTWbIaEwbfw6YV3UZyU7sOOiDXwTGzmYnAlUYx-pOEMduLoRDoXc1nwe9Rz39MD_ll8Bt_8abZeTAKw8KHV0pFsTRu7qC_oYFD1MwjyL_BKlGuFQPOaxDN7mEKpAfQoOvqhy8yyr05omgsFAMjXHV8F90fe7Km920kMXlKXR5bETqXb3ypyUbg6ndw.....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Mon, 19 Sep 2022 08:50:30 GMT
recorded_with: VCR 6.1.0
