---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@Umesho0415
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="ac0d3172f56578b660f5cc3d1e6617b4",
        oauth_signature="CjgibKDuYxmgDgv2%2FAPo3bNQX%2FQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1660895375", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Aug 2022 07:49:36 GMT
      X-Transaction:
      - a0d57b5295f39ba1
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1660896157'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '898'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '128'
      X-Connection-Hash:
      - a1a54d8148ad042350853927e8927c982730a93c7b2c3b2eea1614eb229ac957
    body:
      encoding: UTF-8
      string: '{"id":1321128806829076485,"id_str":"1321128806829076485","name":"Umesho","screen_name":"Umesho0415","location":"","profile_location":null,"description":"RUNTEQ\u5352\u696d\u751f(12\u671f)\/\u5de5\u5b66\u9662\u5352\/Twitter\u30a2\u30ab\u30a6\u30f3\u30c8\u306e\u5229\u7528\u72b6\u6cc1\u3092\ud83d\udc09\u304c\u8a3a\u65ad\u3057\u3066\u304f\u308c\u308b\u30a2\u30d7\u30ea\u3092\u4f5c\u308a\u307e\u3057\u305f\u2193","url":"https:\/\/t.co\/er0X4Kx2BM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/er0X4Kx2BM","expanded_url":"http:\/\/dragon-twitter-analysis.com","display_url":"dragon-twitter-analysis.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":179,"friends_count":163,"listed_count":3,"created_at":"Tue
        Oct 27 16:38:05 +0000 2020","favourites_count":512,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":335,"lang":null,"status":{"created_at":"Fri
        Aug 19 07:12:12 +0000 2022","id":1560525021508169728,"id_str":"1560525021508169728","text":"\u4f55\u51e6\u304b\u3067\u898b\u305f\u4e8b\u304c\u3042\u308b\u3088\u3046\u306a\u304a\u3063\u3055\u3093\u304c\u30d4\u30a2\u30ce\u306b\u9854\u9762\u3076\u3064\u3051\u3066\u8840\u3092\u6d41\u3059\u5922\u3092\u4eca\u671d\u898b\u305f\n\u306a\u3093\u3060\u3053\u306e\u5922\u3063\u3066\u601d\u3063\u3066\u8abf\u3079\u305f\u3089\u3042\u306a\u305f\u8003\u3048\u3059\u304e\u3063\u3066\u8a00\u308f\u308c\u305f\n\u78ba\u304b\u306b\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1461357110735040512\/cZi4lSdD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1461357110735040512\/cZi4lSdD_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1321128806829076485\/1618494582","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[],"suspended":false,"needs_phone_verification":false}'
  recorded_at: Fri, 19 Aug 2022 07:49:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=16&exclude_replies=true&include_rts=false&user_id=1321128806829076485
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="a48ddd31e2723b778dbda20a090bd7c5",
        oauth_signature="tdnbZkUMpBtyMQeuQO%2FPYzKe14U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1660895376", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Aug 2022 07:49:36 GMT
      X-Transaction:
      - bd0330a1528cfe3d
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1660896157'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1660981657'
      X-Rate-Limit-Remaining:
      - '898'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99998'
      X-Response-Time:
      - '181'
      X-Connection-Hash:
      - f0b201b3d92bea39bb308cf1623ad64c080b0d6f36ec5f244746cb50f5890d3b
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Aug 19 07:12:12 +0000 2022","id":1560525021508169728,"id_str":"1560525021508169728","text":"\u4f55\u51e6\u304b\u3067\u898b\u305f\u4e8b\u304c\u3042\u308b\u3088\u3046\u306a\u304a\u3063\u3055\u3093\u304c\u30d4\u30a2\u30ce\u306b\u9854\u9762\u3076\u3064\u3051\u3066\u8840\u3092\u6d41\u3059\u5922\u3092\u4eca\u671d\u898b\u305f\n\u306a\u3093\u3060\u3053\u306e\u5922\u3063\u3066\u601d\u3063\u3066\u8abf\u3079\u305f\u3089\u3042\u306a\u305f\u8003\u3048\u3059\u304e\u3063\u3066\u8a00\u308f\u308c\u305f\n\u78ba\u304b\u306b\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1321128806829076485,"id_str":"1321128806829076485","name":"Umesho","screen_name":"Umesho0415","location":"","description":"RUNTEQ\u5352\u696d\u751f(12\u671f)\/\u5de5\u5b66\u9662\u5352\/Twitter\u30a2\u30ab\u30a6\u30f3\u30c8\u306e\u5229\u7528\u72b6\u6cc1\u3092\ud83d\udc09\u304c\u8a3a\u65ad\u3057\u3066\u304f\u308c\u308b\u30a2\u30d7\u30ea\u3092\u4f5c\u308a\u307e\u3057\u305f\u2193","url":"https:\/\/t.co\/er0X4Kx2BM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/er0X4Kx2BM","expanded_url":"[...]
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJkcmFnb24tdHdpdHRlci1hbmFseXNpc0BkcmFnb24tdHdpdHRlci1hbmFseXNpcy5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vb2F1dGgyLmdvb2dsZWFwaXMuY29tL3Rva2VuIiwiZXhwIjoxNjYwODk1NDM3LCJpYXQiOjE2NjA4OTUzMTcsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jbG91ZC1sYW5ndWFnZSBodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2Nsb3VkLXBsYXRmb3JtIn0.A_OUS_xcj1LVbJUO5p73FVq8PD5d3ftc-YzSj5lrFg8HsEpV534rKOAhkzg_XAUgxl7RuS1QAcTVTwBs4grvrDgbAlzvKg6ESxhsnsrhQfh6y0_hn1cT5qx7h4hiVe_uar5A56aHxCwggzIpBbiEB-rdfjwbMs3ukVtgBw_RLod5zI8A6jRDVfSUpBsdd7gwr6lWZRjCOLsM0NDvO69hjlHCg0FWl9WMteA6McHa2-eot76CFOslaBXgbyCm0eHQOdcMIyT3uFbDlmxhuZSf97FgC9gprLj6yfKFs78mkr0fTGW38615Av23YfBwaInKOO4kJJ3WnKIFilftRjlC3Q
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.b0AXv0zTPNrDGJpcbkkgAl3yZcn10aMYdtYMgwN8vdygBSdn7t4mY7nJ7xTgpZYX_WodcMiO5XDsTgS6datElvNOqw_2qn-qWvjBd_XNQjEhezzIhJb-WcPR8jUlHjWqgfSZMgdLAFXRgxFYmoG3SNmUbabKbjUziKVCqZEuoFJPgTxpd3T7l_nAcKyuD8YpeIAXbOSFRwoueo9un4kytwLPKuLsofNIpY2w.....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Fri, 19 Aug 2022 07:49:37 GMT
recorded_with: VCR 6.1.0
