---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=Umesho0415
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API KEY>", oauth_nonce="2009f5831942799602551544ed3b7f60",
        oauth_signature="LGiWRcWToYlDc21k5f%2FHMK6XP7k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1663493752", oauth_token="<ACCESS TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 18 Sep 2022 09:35:52 GMT
      X-Transaction:
      - f59cb19e402c6e18
      X-Access-Level:
      - read-write-directmessages
      X-Transaction-Id:
      - f59cb19e402c6e18
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1663494586'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '891'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '147'
      X-Connection-Hash:
      - 7040906e3cfe84cf0e77b9ac166105b904930ec7db65f65df3bf28c17c9ce910
    body:
      encoding: UTF-8
      string: '{"id":1321128806829076485,"id_str":"1321128806829076485","name":"Umesho","screen_name":"Umesho0415","location":"","profile_location":null,"description":"RUNTEQ\u5352\u696d\u751f(12\u671f)\/\u5de5\u5b66\u9662\u5352\/Twitter\u30a2\u30ab\u30a6\u30f3\u30c8\u306e\u5229\u7528\u72b6\u6cc1\u3092\ud83d\udc09\u304c\u8a3a\u65ad\u3057\u3066\u304f\u308c\u308b\u30a2\u30d7\u30ea\u3092\u4f5c\u308a\u307e\u3057\u305f\u2193","url":"https:\/\/t.co\/er0X4Kx2BM","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/er0X4Kx2BM","expanded_url":"http:\/\/dragon-twitter-analysis.com","display_url":"dragon-twitter-analysis.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":190,"friends_count":175,"listed_count":3,"created_at":"Tue
        Oct 27 16:38:05 +0000 2020","favourites_count":540,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":361,"lang":null,"status":{"created_at":"Sun
        Sep 18 06:36:42 +0000 2022","id":1571387721477943297,"id_str":"1571387721477943297","text":"\u4fee\u6b63\u5b8c\u4e86\u3057\u307e\u3057\u305f\u3002\n\u30d0\u30b0\u306b\u6c17\u3065\u304b\u305a\u30013\u65e5\u9593\u30a2\u30d7\u30ea\u304c\u4f7f\u3048\u306a\u3044\u72b6\u614b\u3068\u306a\u3063\u3066\u3057\u307e\u3044\u7533\u3057\u8a33\u3042\u308a\u307e\u305b\u3093\u3067\u3057\u305f\u3002\n\u4ed6\u306b\u4f55\u304b\u4e0d\u5177\u5408\u304c\u3042\u308a\u307e\u3057\u305f\u3089\u9023\u7d61\u304f\u3060\u3055\u3044\u3002\nhttps:\/\/t.co\/8nygkQxylQ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/8nygkQxylQ","expanded_url":"https:\/\/www.dragon-twitter-analysis.com","display_url":"dragon-twitter-analysis.com","indices":[73,96]}]},"source":"\u003ca
        href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\" rel=\"nofollow\"\u003eTwitter
        for Mac\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1461357110735040512\/cZi4lSdD_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1461357110735040512\/cZi4lSdD_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1321128806829076485\/1618494582","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[],"suspended":false,"needs_phone_verification":false}'
  recorded_at: Sun, 18 Sep 2022 09:35:52 GMT
recorded_with: VCR 6.1.0
